@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --Dark-cyan : hsl(158, 36%, 37%);
    --Cream : hsl(30, 38%, 92%);
    --Very-dark-blue : hsl(212, 21%, 14%) ;
    --Dark-grayish-blue : hsl(228, 12%, 48%) ;
    --White : hsl(0, 0%, 100%) ;
    --Font-sans-serif-Montserrat : 'Montserrat', sans-serif ;
    --Font-serif-Fraunces : 'Fraunces', serif;
}
body {
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 14px ;
    font-family: var(--Font-sans-serif-Montserrat);

}
.component {
    width: 640px;
    height: 478px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-bottom: 20px;
    border-radius: 10px;overflow: hidden;
}
.component .img img:first-child{
    height: 478px;
}
.component .img img:last-child{
    display: none;
}
.component .content {
  background-color: var(--White);
  padding: 30px;
}
.component .content h1 {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--Dark-grayish-blue);
    margin-bottom: 25px;
}
.component .content h2 {
    font-family: var(--Font-serif-Fraunces);
    font-size: 30px;
    width: 210px ;
    margin-bottom: 25px;
}
.component .content p {
    color: var(--Dark-grayish-blue);
    line-height: 1.6;
    margin-bottom: 25px
}
.component .content .price {
    display: flex;
    align-items: center;
    gap: 40px;
}
.component .content .price .new-price {
    font-size: 30px;
    font-family: var(--Font-serif-Fraunces);
    color: var(--Dark-cyan);
}
.component .content .price .old-price {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}
.component .content button {
    background-color: var(--Dark-cyan);
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin:  35px 0 0;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.component .content button img {
    margin-right: 10px;
}
.component .content button:hover {
  background-color:hsl(158, 39%, 28%);
}
@media ( max-width : 767px ) {
    body {
        height: 100%;
    }
    .component {
        width: 350px;
        height: calc(100% - 10px);
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: auto 0;
    }
    .component .img img:first-child {
        display: none;
    }
    .component .img img:last-child {
        display: block;
        width: 350px;
    }
}